.footer {
    margin: 0 auto;
    max-width: 1920px;
    background-color: var(--black);
}

.footer__container {
    padding-top: 47px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__social:not(:last-child) {
    margin-right: 16px;
}

.footer__social:hover path,
.footer__social:focus path {
    fill: var(--white);
}

.footer__social:hover,
.footer__social:focus {
    outline: none;
}

.footer__social:focus path {
    fill: var(--violet-middle);
}



@media (max-width: 1280px) {
    .footer__social svg {
        width: 60px;
        height: 60px;
    }

    .footer__container {
        padding-top: 41px;
        padding-bottom: 26px;
    }

    .footer__social:not(:last-child) {
        margin-right: 26px;
    }
}


@media (max-width: 970px) {
    .footer__container {
        padding-top: 40px;
        padding-bottom: 31px;
    }
}

@media (max-width: 480px) {
    .footer__container {
        padding-top: 21px;
        padding-bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer__list svg {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .footer__logo {
        width: 97px;
        height: 22px;
    }
}