@-webkit-keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes search-open {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scaleX(100%);
    transform: scaleX(100%);
    opacity: 1;
  }
}

@keyframes search-open {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scaleX(100%);
    transform: scaleX(100%);
    opacity: 1;
  }
}

@-webkit-keyframes search-close {
  from {
    -webkit-transform: scaleX(100%);
    transform: scaleX(100%);
    opacity: 1;
  }

  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes search-close {
  from {
    -webkit-transform: scaleX(100%);
    transform: scaleX(100%);
    opacity: 1;
  }

  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
}

@-webkit-keyframes menu-open {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes menu-open {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes menu-close {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes menu-close {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}








@-webkit-keyframes burger-before-open {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}








@keyframes burger-before-open {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes burger-after-open {
  0% {
    bottom: 0;
    -webkit-transform: scaleX(calc(24 / 36)) rotate(0);
    transform: scaleX(calc(24 / 36)) rotate(0);
  }

  50% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(0);
    transform: scaleX(1) rotate(0);
  }

  100% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(-45deg);
    transform: scaleX(1) rotate(-45deg);
  }
}

@keyframes burger-after-open {
  0% {
    bottom: 0;
    -webkit-transform: scaleX(calc(24 / 36)) rotate(0);
    transform: scaleX(calc(24 / 36)) rotate(0);
  }

  50% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(0);
    transform: scaleX(1) rotate(0);
  }

  100% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(-45deg);
    transform: scaleX(1) rotate(-45deg);
  }
}

@-webkit-keyframes burger-after-close {
  0% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(-45deg);
    transform: scaleX(1) rotate(-45deg);
  }

  50% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(0);
    transform: scaleX(1) rotate(0);
  }

  100% {
    bottom: 0;
    -webkit-transform: scaleX(calc(24 / 36)) rotate(0);
    transform: scaleX(calc(24 / 36)) rotate(0);
  }
}

@keyframes burger-after-close {
  0% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(-45deg);
    transform: scaleX(1) rotate(-45deg);
  }

  50% {
    bottom: calc(50% - var(--burger-line) / 2);
    -webkit-transform: scaleX(1) rotate(0);
    transform: scaleX(1) rotate(0);
  }

  100% {
    bottom: 0;
    -webkit-transform: scaleX(calc(24 / 36)) rotate(0);
    transform: scaleX(calc(24 / 36)) rotate(0);
  }
}

@-webkit-keyframes burger-before-close {
  0% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  50% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  100% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@keyframes burger-before-close {
  0% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  50% {
    top: calc(50% - var(--burger-line) / 2);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  100% {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@-webkit-keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes resize {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes fade-In {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-In {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}