.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;

}

.link {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--short);
  -o-transition: color var(--short);
  transition: color var(--short);
}

.link::before {
  content: '';
  position: absolute;
  background-color: var(--violet-dark);
  left: -6px;
  right: -6px;
  top: -3px;
  bottom: -3px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform var(--short);
  transition: -webkit-transform var(--short);
  -o-transition: transform var(--short);
  transition: transform var(--short);
  transition: transform var(--short), -webkit-transform var(--short);
}

.link:hover {
  color: var(--violet-light);
}

.link:active {
  color: var(--violet-dark);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.link:focus {
  outline: none;
}

.link:focus:not(:hover):not(:active)::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.link__text {
  position: relative;
}

.link__icon {
  width: 100%;
}

.link--text-dark {
  color: var(--violet-middle);
}

.link--text-dark:hover {
  color: var(--violet-middle);
}

.link--text-dark:focus:not(:hover):not(:active) {
  color: var(--white);
}

.link--text-dark::before {
  left: -8px;
  right: -8px;
  bottom: -7px;
  background-color: var(--violet-middle);
}

.link--text-dark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform var(--short);
  transition: -webkit-transform var(--short);
  -o-transition: transform var(--short);
  transition: transform var(--short);
  transition: transform var(--short), -webkit-transform var(--short);
}

.link--text-dark:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.link--text-dark:active {
  color: var(--violet-dark);
}

.link--text-dark:active::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}